@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


footer {
    z-index: 999;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: 0.7s;
    font-family: 'Roboto', sans-serif;
    color: var(--c2) !important;
    margin-top: 100px;
    border-top: var(--c2) 1px solid;
    
}

.Footer--Logo {
    font-size: 26px;
}

.Footer--Contact {
    text-decoration: inherit;  
    font-size: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;  
    border-left: var(--c2) 1px solid;
    padding-left: 10px;
}

a {
  text-decoration: none;
  color:var(--c2);
}

.Footer--Phone,
.Footer--Email {
    display: inline-flex;
    align-items: center;
    margin: 2px;
    font-size: 16px;
}